@charset "UTF-8";

/* Alguns pontos de interrupção comuns de dispositivos para 2025 incluem: 
    Celular (retrato) : 320–480 pixels
    Móvel (paisagem) : 481–600 pixels
    Tablet (retrato) : 601–768 pixels
    Tablet (paisagem) : 769–1024 pixels
    Desktop ou laptop pequeno : 1025–1280 pixels
    Área de trabalho grande : 1281–1440 pixels

 Typical Device Breakpoits 

  Pequenas telas: até 600px
  Celular: de 600px até 780px
  Tablet: de 780px até 992px 
  Desktop: de 992px até 1200px
  Grandes telas: acima de 1200px
  */

  @media screen and (min-width: 769px) and (max-width: 1024px){
    body {
        background-image: linear-gradient(to top, #ee82ee, #2f2ff7ab);
    }

    #login {
        width: 90vw;
        height: 70%;
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    #formulario {
        float: right;
        width: 60%;
        height: 550px;
        
    }
     
    #formulario > h1 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 10px;
    }

    p {
        text-align: justify;
        padding-bottom: 10px;
    }

    
  }


  @media screen and (min-width: 1025px){
    body {
        background-image: linear-gradient(to top, #ee82ee, #2f2ff7ab);
    }

    #login {
        width: 1000px;
        height: 500px;

        transition: width .3s, height .3s;
        transition-timing-function: ease;
        
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    #formulario > h1 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 10px;
    }
     
    #formulario > p {
        text-align: justify;
        font-size: 1.2em;
        padding-bottom: 10px;
    }
    
  }

 